<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <ul class="option">
          <li class="signup-option activate">Sign Up</li>
          <li class="login-option">Log In</li>
        </ul>

        <h1 id="title">Sign Up for Free!</h1>

        <form type="submit" method="POST" class="form signup ">
          <input type="text" name="name" id="name" placeholder="Name"  autocomplete="off"/>
          <input type="email" name="email" id="email" placeholder="Email"  autocomplete="off"/>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          <button >Sign Up</button>
        </form>
        <form id="login" method="POST" class="form login deactivate ">
          <input value={{message}} type="email" name="email" id="login_email" placeholder="Email" autocomplete="off" />
          <input
            type="password"
            name="password"
            id="login_password"
            placeholder="Password"
            autocomplete="off"
            value="renato03"
          />

          <a href="">Forgot Password?</a>
          <button type="submit" >Log In</button>
        </form>
        <div id="error">
          Invalid Crendentials
        </div>
      </div>
    </div>
    <script src="/js/popup.js"></script>
  </body>
</html>
