<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Your Password | Kipin</title>
</head>

<body>
  {{#if validToken}}
  <form id="form">
    <input type="text" value="{{email}}" disabled style="display: none;" id="email">
    <input type="password" name="password" id="password" required>
    <input type="password" name="confirm_password" id="confirm_password" required>
    <button type="submit">Reset</button>
  </form>
  <script>
    var form = document.getElementById('form')
    form.addEventListener('submit', function (e) {
      e.preventDefault()
      console.log(e)
      var email = document.getElementById('email').value
      var password = document.getElementById('password').value
      var confirm_password = document.getElementById('confirm_password').value
      setTimeout(() => alert('kkkkkkkkkk'), 1000)
      if (password !== confirm_password) {
        alert('passwords are not equals')
      } else if (email && password && confirm_password) {

        fetch('/auth/reset/submit', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ email: email, password: password, confirm_password: confirm_password })
        })
          .then(res => res.json().then(data => {
            console.log(data)
            alert(data.message)
          }).catch(e => console.log(e)))

      }
    })
  </script>
  {{else}}
  <h3>This link is not valid anymore</h3>
  {{/if}}

</body>

</html>